<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome!</h2>
        <p class="lead">Our unbeaten quality of wire products and the remarkable services have let us gain a strong grip over the wire market, due to which we expanded from a small company est. in 1993 to a company with more than four different subunits.
<br>
          All the products we manufacture conform to the HIRA standards and are matched accordingly to the consumer’s requirement.
          
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
