<header id="top" class="header">
  <div class="text-vertical-center">
    <head>
  <style>
    div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
    h3 { color: #FFFFFF; }
  </style>
</head>

    <h1>Sheetal Wire Products</h1>
    <div class="transbox">
    <h3>Binding Wire - G.I. Wire - H.B. Wire - Barbed Wire - Chain Link - Wire Nails</h3>
  </div>
    
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
